@import url(profile.js);
@import url(https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap);

* {
    font-family: "Sen", sans-serif;
}
/* Navbar section */

.navbarb {
    z-index: 99999 !important;
    width: 100%;
    height: 65px;
    /* line-height: 65px; */
    position: fixed;
    background-color: transparent;
    box-shadow: none;
    color: #ffffff;
}

.navbarb div.logo {
    float: left;
    width: auto;
    height: auto;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bolder;
    /* padding-left: 3rem; */
    /* margin-right: 20px; Atur jarak antara logo dan navbar-brand sesuai kebutuhan */
}

.navbarb div.logo a {
    text-decoration: none;
    color: #fff;
    padding-block: 1rem;
    transition: all 0.5s ease;
}
.navbarb div.logo a:hover,
.navbarb div.logo a:active {
    color: #d40808;
}

.navbarb div.main_list {
    height: 65px;
    /* padding-block: 1rem; */
    float: left;
}

.navbarb div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbarb div.main_list ul li {
    width: auto;
    height: 65px;
    padding-right: 3rem;
    padding: 0;
}

.navbarb div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 11px 12px;
    transition: all 0.5s ease;
}

.navbarb div.main_list ul li a:hover,
.navbarb div.main_list ul li a:active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.1875rem;
}

.navTrigger {
    display: none;
}

.navbarb {
    padding-top: 1px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .navTrigger {
        display: block;
    }
    .navbarb div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .navbarb div.show_list {
        height: auto;
        display: none;
    }
    .navbarb div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #001431;
        background-position: center top;
    }
    .navbarb div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .navbarb div.main_list ul li a {
        text-align: center;
        gap: 2rem;
        width: 100%;
        font-size: 2rem;
        padding: 30px;
    }
    .navbarb div.media_button {
        display: block;
    }
}

.affix {
    display: flex;
    padding: 0 auto;
    background-color: #001431;
}
/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    min-width: 20px;
    height: 20px;
    /* width: 27px;
  height: 25px; */
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: "";
    display: block;
    width: 110%;
    height: 3px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.image-container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.image-icon {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 3px;
    padding-inline: 43.5%;
    cursor: pointer;
}
.profile {
    max-width: 600px;
    margin: 0 auto;
    /* background-color: #444; */
    color: #001431;
    padding: 1.2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
}

.form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}
.form-group {
    text-align: start;
    margin: 0 auto;
    /* padding: 2em; */
    padding-inline: 0.6em;
    /* background-color: #0b2b76; */
}
.btn {
    border-radius: 2px;
    min-width: 100px;
    transition: all 0.5s ease-in-out;
}
.btn:hover {
    border-radius: 0px 10px 0px 10px;
}
.modal-footer {
    padding: 20px 30px;
}
.modal-footer {
    background: #ecf0f1;
    border-radius: 0px 10px 0px 10px;
}
p {
    margin-top: 2rem;
    font-size: 17px;
}
.nav-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.collections {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#bar-chart {
    width: 500px;
    height: 300px;
    position: relative;
}
#line-chart {
    width: 500px;
    height: 300px;
    position: relative;
}
#bar-chart::before,
#line-chart::before {
    content: "";
    position: absolute;
    display: block;
    width: 240px;
    height: 30px;
    left: 155px;
    top: 254px;
    background: #fafafa;
    box-shadow: 1px 1px 0 0 #ddd;
}
#pie-chart {
    width: 500px;
    height: 250px;
    position: relative;
}
#pie-chart::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 115px;
    left: 315px;
    top: 0;
    background: #fafafa;
    box-shadow: 1px 1px 0 0 #ddd;
}
#pie-chart::after {
    content: "";
    position: absolute;
    display: block;
    top: 260px;
    left: 70px;
    width: 170px;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
}

.btn {
    background-color: #f96332;
    color: #ffffff;
}

button,
input {
    font-family: "Sen", sans-serif;
}

h2,
h3,
h4,
h5 {
    font-weight: 400;
}

a {
    color: #f96332;
}

a:hover,
a:focus {
    color: #f96332;
}

h4,
.h4 {
    font-size: 1.5em;
    line-height: 1.45em;
    margin-top: 30px;
    margin-bottom: 15px;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 30px;
}

.title + .category {
    letter-spacing: 1.5px;
    /* margin-top: -16px; */
}

.category {
    text-transform: capitalize;
    font-size: smaller;
    font-weight: 700;
    color: #9a9a9a;
}
.category span {
    text-transform: uppercase;
}
.inf p {
    font-size: medium;
    font-weight: bolder;
    color: #9a9a9a;
}
.inf {
    display: flex;
}

body {
    color: #2c2c2c;
    font-size: 14px;
    font-family: "Sen", sans-serif;
    overflow-x: hidden;
}
.nav-pills.nav-pills-just-icons .nav-item .nav-link {
    text-align: center;
    border-radius: 20%;
    background-color: #e3dede;
    height: 80px;
    width: 80px;
    padding: 0;
    max-width: 80px;
    min-width: auto;
    margin-bottom: 4px;
}

.nav-pills.nav-pills-just-icons .nav-item .nav-link i {
    line-height: 80px;
}

.nav-pills:not(.flex-column) .nav-item:not(:last-child) .nav-link {
    margin-right: 19px;
}

.nav-pills .nav-item .nav-link {
    padding: 10px 23px;
    background-color: rgba(222, 222, 222, 0.3);
    min-width: 100px;
    font-weight: 400;
    text-align: center;
    color: #444;
    transition: all 0.5s ease;
}

.nav-pills .nav-item .nav-link:hover {
    background-color: rgba(59, 5, 5, 0.3);
}

.nav-pills .nav-item .nav-link.active,
.nav-pills .nav-item .nav-link.active:focus,
.nav-pills .nav-item .nav-link.active:hover {
    transform: scale(1.097);
    background-color: #9a9a9a;
    border-radius: 0 22%;
    color: #ffffff;
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.nav-pills .nav-item .nav-link:disabled,
.nav-pills .nav-item .nav-link[disabled] {
    opacity: 0.5;
}

.nav-pills .nav-item i {
    display: block;
    line-height: 60px;
    font-size: 24px;
}

.nav-pills.nav-pills-primary .nav-item .nav-link.active,
.nav-pills.nav-pills-primary .nav-item .nav-link.active:focus,
.nav-pills.nav-pills-primary .nav-item .nav-link.active:hover {
    background-color: #001431;
}

.nav-align-center {
    text-align: center;
}

.nav-align-center .nav-pills {
    display: inline-flex;
}

img {
    max-width: 100%;
    border-radius: 1px;
}

.img-raised {
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}
.kt {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    /* margin-top: -7px; */
    width: 100vw;
    color: yellow;
    transition: all 0.5s ease;
}
.kt:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.1875rem;
    padding-left: 8px;
}
.kt:hover .divider {
    display: block;
    width: 50%;
}

.inf p:first-child {
    transition: all 0.5s ease;
}

.inf p:first-child:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.1875rem;
    padding-left: 8px;
    padding-right: 8px;
}
.profile-page .content .user-description {
    display: inline-block;
    max-width: 550px;
    width: 200px;
    text-align: start;
    margin: 20px 0 0px;
}
.profile-page .page-header {
    min-height: 50px;
}
.img-prf {
    padding-left: 3rem;
}
.profile-page .photo-container {
    width: 130px;
    height: 130px;
    border-radius: 0px;
    overflow: hidden;
    /* margin: 0 auto; */
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.profile-page .nav-align-center {
    margin-top: 30px;
}

.profile-page .content {
    max-width: 100vw;
    margin: 0 auto;
    margin-top: 1rem;
}

.profile-page .content .social-description {
    display: inline-block;
    max-width: 150px;
    width: 140px;
    text-align: center;
    margin: 15px 0 0px;
}

.profile-page .content .social-description h2 {
    margin-bottom: 10px;
}

.profile-page .sp {
    margin-top: 45px;
    padding-bottom: 50px;
}

.profile-page .page-header:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
}

.section {
    top: -100px;
    padding: 2px 0;
    position: relative;
    background: #ffffff;
}

.page-header {
    min-height: 100vh;
    max-height: 999px;
    padding: 0;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.page-header > .content {
    margin-top: 12%;
    text-align: center;
    margin-bottom: 50px;
}

.page-header > .container {
    /* z-index: 2; */
    padding-top: 10vh;
    padding-bottom: 40px;
}

.page-header .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.banner-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.banner-image {
    width: 100vw;
    height: 300px;
    /* border-radius: 50%; */
    object-fit: cover;
    margin-bottom: 20px;
}
.page-header .container {
    height: 100%;
    /* z-index: 1; */
    text-align: center;
    position: relative;
}

.page-header .category,
.page-header .description {
    color: rgba(255, 255, 255, 0.8);
}

.page-header:after,
.page-header:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.clear-filter:after,
.clear-filter:before {
    display: none;
}
.dnone {
    display: none;
}

[data-background-color="orange"] {
    background-color: #e95e38;
}

[data-background-color="black"] {
    background-color: #2c2c2c;
}

[data-background-color]:not([data-background-color="gray"]) {
    color: #ffffff;
}

[data-background-color]:not([data-background-color="gray"]) .title,
[data-background-color]:not([data-background-color="gray"])
    .social-description
    h2,
[data-background-color]:not([data-background-color="gray"]) p {
    color: #ffffff;
}

[data-background-color]:not([data-background-color="gray"]) h2,
[data-background-color]:not([data-background-color="gray"]) h3,
[data-background-color]:not([data-background-color="gray"]) h4,
[data-background-color]:not([data-background-color="gray"]) h5,
[data-background-color]:not([data-background-color="gray"])
    a:not(.btn):not(.dropdown-item) {
    color: #ffffff;
}

[data-background-color]:not([data-background-color="gray"]) .description,
[data-background-color]:not([data-background-color="gray"])
    .social-description
    p {
    color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 767px) {
    #bar-chart,
    #line-chart,
    #pie-chart {
        width: 100%;
        height: auto;
    }

    #bar-chart::before,
    #line-chart::before {
        width: 80%;
        left: 10%;
        top: calc(100% - 30px);
    }

    #pie-chart::before {
        width: 60%;
        left: 20%;
        top: 0;
    }

    #pie-chart::after {
        top: calc(100% - 2px);
        left: 10%;
        width: 80%;
    }
}

@media screen and (max-width: 991px) {
    .collections {
        display: flex;
        max-width: 100vw;
        justify-content: center;
    }
}

@media screen and (min-width: 992px) {
    .navbar-collapse:not(.has-image) {
        background: transparent !important;
    }

    .navbar-nav .nav-link.btn:not(.btn-sm) {
        margin: 0;
    }

    .navbar-nav .nav-item:not(:last-child) {
        margin-right: 5px;
    }
}
@media screen and (max-width: 576px) {
    .navbar[class*="navbar-expand-"] .container {
        margin-left: 0;
        margin-right: 0;
    }
}

#navbar .navbar {
    margin-bottom: 20px;
}
