* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --primary-color: #3a3b3c;
    --panel-color: #06142e;
    --panel-color-reverse: #e1dcd1;
    --text-color: #f2f2f2;
    --text-color-reverse: #1e2126;
    --text-hover-color: #ffa500;
    --text-hover-color-reverse: #3409e0;
    --black-light-color: #ccc;
    --border-color: #4d4c4c;
    --toggle-color: #fff;
    --box1-color: #3a3b3c;
    --box2-color: #3a3b3c;
    --box3-color: #3a3b3c;
    --title-icon-color: #ccc;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
}
body.dark {
    --primary-color: #0e4bf1;
    --panel-color: #e1dcd1;
    --panel-color-reverse: #06142e;
    --text-color: #1e2126;
    --text-color-reverse: #f2f2f2;
    --text-hover-color: #3409e0;
    --text-hover-color-reverse: #ffa500;
    --black-light-color: #2e2d2d;
    --border-color: #e6e5e5;
    --toggle-color: #2e2d2d;
    --box1-color: #4da3ff;
    --box2-color: #ffe6ac;
    --box3-color: #e7d1fc;
    --title-icon-color: #fff;

    --tran-05: all 0.5s ease-in-out;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}
h1 {
    color: var(--text-color);
}
p {
    color: var(--text-color);
}
/* ::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
  background: #3a3b3c;
} */

.sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
.sideMenu.close {
    width: 73px;
}
.sideMenu .logo-name {
    display: flex;
    align-items: center;
}
.sideMenu .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}
.sideMenu .logo-image img {
    width: 40px;
    object-fit: cover;
}

.sideMenu .logo-name .logo_name {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
.sideMenu.close .logo_name {
    opacity: 0;
    pointer-events: none;
}
.sideMenu .menu-items {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li {
    list-style: none;
}
.menu-items li:hover {
    list-style: none;
}
.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li {
    transition: all 0.3s ease, color 0.3s ease;
}
.nav-links li.active {
    background-color: var(--panel-color-reverse);
    border-radius: 12px;
}
.menu-items li.active a .link-name {
    color: var(--border-color);
}
.menu-items li.active a i {
    color: var(--border-color);
}

.nav-links li a:hover::before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--text-hover-color);
}
body.dark li a:hover:before {
    background-color: var(--text-hover-color);
}
.menu-items li a i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--panel-color-reverse);
}
.menu-items li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: var(--panel-color-reverse);
    transition: var(--tran-05);
}
.sideMenu.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: var(--text-hover-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
    color: var(--text-hover-color);
}
.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before {
    left: 20px;
}

.dashboard {
    position: relative;
    top: 0;
    left: 250px;
    background-color: var(--panel-color);
    max-height: 100vh;
    height: 100%;
    overflow: auto;
    width: calc(100% - 250px);
    padding: 0;
    margin: 0;
    transition: var(--tran-05);
}
.sideMenu.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top {
    position: sticky;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    display: flex;
    min-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
    padding: 0;
    margin: 0;
    box-shadow: 0px 9px 18px -11px rgba(0, 0, 0, 0.868);
    -webkit-box-shadow: 0px 9px 18px -11px rgba(0, 0, 0, 0.868);
    -moz-box-shadow: 0px 9px 18px -11px rgba(0, 0, 0, 0.868);
}
.top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
    width: 100%;
    padding: 10px 14px;
}
.sideMenu.close ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top-content .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top-content .search-box {
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top-content .search-box input {
    position: absolute;
    border: 1px solid var(--text-color);
    color: var(--panel-color);
    background-color: var(--panel-color-reverse);
    padding: 0 25px 0 50px;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    outline: none;
}
.top-content .search-box i {
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--panel-color);
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 45px;
    min-height: 45px;
}

.profile img {
    width: 100%;
    height: 40px;
    object-fit: cover;
}

.profile-name {
    color: var(--text-color);
}

.side-toggle {
    z-index: 2;
    top: 12.5px;
    left: 25px;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

#toggle {
    display: none;
}

.top img {
    width: 40px;
}
.dashboard .dash-content {
    padding-top: 50px;
}
.dash-content .title {
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dash-content .title i {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}
.boxes .box i {
    font-size: 35px;
    color: var(--text-color);
}
.boxes .box .text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box .number {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box.box2 {
    background-color: var(--box2-color);
}
.boxes .box.box3 {
    background-color: var(--box3-color);
}
.dash-content .activity .activity-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activity .activity-data {
    display: flex;
}
.activity-data .data {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.activity-data .data .data-list {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

@media (max-width: 768px) {
    .dash-content .boxes .box {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
    .dash-content .boxes .box {
        width: 100%;
    }
    .sideMenu {
        width: 73px;
    }
    .sideMenu.close {
        width: 250px;
    }
    .sideMenu .logo_name {
        opacity: 0;
        pointer-events: none;
    }
    .sideMenu.close .logo_name {
        opacity: 1;
        pointer-events: auto;
    }
    .sideMenu li a .link-name {
        opacity: 0;
        pointer-events: none;
    }
    .sideMenu.close li a .link-name {
        opacity: 1;
        pointer-events: auto;
    }
    .sideMenu ~ .dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }
    .sideMenu.close ~ .dashboard {
        left: 250px;
        width: calc(100% - 250px);
    }
    .sideMenu ~ .dashboard .top {
        left: 73px;
        width: calc(100% - 73px);
    }
    .sideMenu.close ~ .dashboard .top {
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data {
        overflow-x: scroll;
    }
}

@media (max-width: 400px) {
    .sideMenu {
        width: 0px;
    }
    .sideMenu.close {
        width: 73px;
    }
    .sideMenu .logo_name {
        opacity: 0;
        pointer-events: none;
    }
    .sideMenu.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    .menu-items li a i {
        font-size: 17px;
    }
    .sideMenu li a .link-name {
        opacity: 0;
        pointer-events: none;
    }
    .sideMenu.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }
    .sideMenu ~ .dashboard {
        left: 0;
        width: 100%;
    }
    .sideMenu.close ~ .dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }
    .sideMenu ~ .dashboard .top {
        left: 0;
        width: 100%;
    }
    .sideMenu.close ~ .dashboard .top {
        left: 0;
        width: 100%;
    }
    main {
        min-height: 100%;
        padding: 6%;
    }
    .dashboard-container {
        padding: 3px;
        display: grid;
        grid-template-columns: 0.3fr;
        grid-template-areas:
            "total1"
            "total2"
            "total3"
            "total4"
            "detail"
            "customer";
    }
}
::selection {
    color: #fff;
    background: #618cf8;
}
.wrapper {
    /* margin-block: 70px; */
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper li {
    /* height: 250px; */
    list-style: none;
    border-radius: 5px;
    padding: 15px 20px 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
.add-box,
.icon,
.bottom-content,
.popup,
header,
.settings .menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-box {
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
}
.add-box .icon {
    height: 78px;
    width: 78px;
    color: #88abff;
    font-size: 40px;
    border-radius: 50%;
    justify-content: center;
    border: 2px dashed #88abff;
}
.add-box p {
    color: #88abff;
    font-weight: 500;
    margin-top: 20px;
}
.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.note .details {
    max-height: 165px;
    overflow-y: auto;
}
/* .note .details::-webkit-scrollbar,
.popup textarea::-webkit-scrollbar {
  width: 0;
}
.note .details:hover::-webkit-scrollbar,
.popup textarea:hover::-webkit-scrollbar {
  width: 5px;
}
.note .details:hover::-webkit-scrollbar-track,
.popup textarea:hover::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.note .details:hover::-webkit-scrollbar-thumb,
.popup textarea:hover::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 25px;
} */
.note p {
    font-size: 22px;
    font-weight: 500;
}
.note span {
    display: block;
    color: #575757;
    font-size: 16px;
    margin-top: 5px;
}
.note .bottom-content {
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
.bottom-content span {
    color: #6d6d6d;
    font-size: 14px;
}
.bottom-content .settings {
    position: relative;
}
.bottom-content .settings i {
    color: #6d6d6d;
    cursor: pointer;
    font-size: 15px;
}
.settings .menu {
    z-index: 1;
    bottom: 0;
    right: -5px;
    padding: 5px 0;
    background: #fff;
    position: absolute;
    border-radius: 4px;
    transform: scale(0);
    transform-origin: bottom right;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
}
.settings.show .menu {
    transform: scale(1);
}
.settings .menu li {
    height: 25px;
    font-size: 16px;
    margin-bottom: 2px;
    padding: 17px 15px;
    cursor: pointer;
    box-shadow: none;
    border-radius: 0;
    justify-content: flex-start;
}
.menu li:last-child {
    margin-bottom: 0;
}
.menu li:hover {
    background: #f5f5f5;
}
.menu li i {
    padding-right: 8px;
}

.popup-box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.popup-box .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.95);
}
.popup-box,
.popup {
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}
.popup-box.show,
.popup-box.show .popup {
    opacity: 1;
    pointer-events: auto;
}
.popup-box.show .popup {
    transform: translate(-50%, -50%) scale(1);
}
.popup .content {
    border-radius: 5px;
    background: #fff;
    width: calc(100% - 15px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.content header {
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
}
.content header p {
    font-size: 20px;
    font-weight: 500;
}
.content header i {
    color: #8b8989;
    cursor: pointer;
    font-size: 23px;
}
.content form {
    margin: 15px 25px 35px;
}
.content form .row {
    margin-bottom: 20px;
}
form .row label {
    font-size: 18px;
    display: block;
    margin-bottom: 6px;
}
form :where(input, textarea) {
    /* height: 50px; */
    width: 100%;
    outline: none;
    font-size: 17px;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #999;
}
form :where(input, textarea):focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
}
form .row textarea {
    height: 150px;
    resize: none;
    padding: 8px 15px;
}
form button {
    width: 100%;
    height: 50px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
    border-radius: 4px;
    background: #6a93f8;
}

@media (max-width: 660px) {
    .wrapper {
        margin: 15px;
        gap: 15px;
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .popup-box .popup {
        max-width: calc(100% - 15px);
    }
    .bottom-content .settings i {
        font-size: 12px;
    }
}

main {
    height: auto;
    padding: 20px;
    color: var(--text-color);
}

.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas:
        "total1 total2 total3 total4 total4"
        "detail detail detail customer customer"
        "detail detail detail customer customer";
}

body.dark .card {
    box-shadow: 5px 10px 19px 3px rgba(80, 75, 75, 0.75);
    -webkit-box-shadow: 5px 10px 19px 3px rgba(80, 75, 75, 0.75);
    -moz-box-shadow: 5px 10px 19px 3px rgba(80, 75, 75, 0.75);
}
.card {
    background-color: var(--text-color-reverse);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 7px 8px 29px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 8px 29px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 10px 8px 0px rgba(0, 0, 0, 0.75);
}

.total {
    grid-area: total1;
    background-color: var(--text-color);
    color: var(--text-color-reverse);
    transition: all 0.8s ease-in-out;
}
.total:nth-child(2) {
    grid-area: total2;
}
.total:nth-child(3) {
    grid-area: total3;
}
.total:nth-child(4) {
    grid-area: total4;
}

.total:hover {
    background-color: var(--text-color-reverse);
    color: var(--text-color);
}
.total:hover .info-detail p {
    width: 50%;
}

.detail {
    grid-area: detail;
    overflow-x: auto;
}

.customer {
    grid-area: customer;
    overflow-x: auto;
}

.info {
    display: grid;
    grid-auto-flow: column;
    justify-items: space-between;
    align-items: center;
}

.info-detail p {
    height: 3px;
    width: 0;
    margin-bottom: 8px;
    transition: width 0.7s ease-in-out;
    background-color: var(--text-color);
}
.info-detail h2 {
    font-size: 24px;
}

.info-image {
    font-size: 50px;
    color: var(--text-color);
}

.detail-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.detail-header p b {
    font-size: 20px;
}
.sortlist,
.crud {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

button i {
    font-size: 1.1rem;
    padding: 2px;
}
button {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding: 8px;
    border-radius: 6px;
    color: var(--panel-color);
    background-color: var(--panel-color-reverse);
    border: 1px transparent solid;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

button:hover {
    background-color: transparent;
    border: 1px var(--text-hover-color) solid;
    color: var(--text-hover-color);
}

.detail table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 10px;
}

.alert {
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 8px;
    animation: fadeOut 8s ease-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.alert-success {
    background-color: #3409e0;
    color: #f2f2f2;
}

.alert-error {
    color: #e81c1c;
}

.custom-checkbox {
    position: relative;
}
.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}
.custom-checkbox label:before {
    width: 18px;
    height: 18px;
}
.custom-checkbox label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: "";
    position: absolute;
    left: 4.5px;
    top: 1px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #03a9f4;
    background: #03a9f4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}
.detail table tr:nth-child(odd) {
    background-color: var(--panel-color);
    color: var(--text-color);
}

.detail table tr {
    color: var(--panel-color-reverse);
    background-color: var(--text-color-reverse);
}
.detail table th {
    background-color: var(--text-color);
    color: var(--text-color-reverse);
}
.detail table th:nth-child(1) {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.detail table th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.detail table th,
.detail table td {
    padding: 0.6rem 0.2rem;
    text-align: justify;
    font-size: 14px;
    transition: all 0.3s ease-out;
}

.banner-container {
    width: 100%;
    height: 320px;
    overflow: hidden;
    background-color: var(--panel-color);
    border-radius: 10px;
    margin-bottom: 12px;
    box-shadow: 0px 0px 22px -4px rgba(80, 75, 75, 0.75);
    -webkit-box-shadow: 0px 0px 22px -4px rgba(80, 75, 75, 0.75);
    -moz-box-shadow: 0px 0px 22px -4px rgba(80, 75, 75, 0.75);
}

.banner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body.dark .banner-container {
    box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.78);
    -webkit-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.78);
}
.detail table tr:hover {
    background-color: var(--panel-color);
    color: var(--text-color);
}

/* .detail table tr td:nth-child(7),
.detail table tr td:nth-child(8),
.detail table tr td:nth-child(9),
.detail table tr td:nth-child(10) {
    min-width: 100px;
    padding-right: 8px;
    text-align: center;
    white-space: nowrap;
} */
.descript {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.action {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
}
.CC {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.openInfoModalBtn {
    font-weight: 700;
    white-space: nowrap;
}
.openInfoModalBtn:hover {
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--text-color-reverse);
    border-radius: 0px 0px 12px 12px;
}

.tooltip-container {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    white-space: normal;
    max-width: 300px;
}

#infoModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 57, 57, 0.64);
    z-index: 9999;
    overflow: auto;
}

.tr-modal-content {
    background-color: var(--text-color-reverse);
    color: var(--text-color);
    background-image: url("../images/3.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 970px 840px;
    border-radius: 25px;
    box-shadow: 5px 10px 19px 3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 10px 19px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 10px 19px 3px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
}
.tr-det {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tr-det.inf {
    display: flex;
    justify-content: start;
    align-items: center;
}
.tr-det > h2 {
    font-size: 2.7rem;
    font-weight: 900;
    text-decoration: underline;
}
.tr-det.inf strong i {
    font-size: 18.5px;
}
.tr-det.inf strong {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.tr-det strong {
    display: flex;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 7px;
    border-radius: 9px;
    box-shadow: 5px 9px 5px -2px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 5px 9px 5px -2px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 5px 9px 5px -2px rgba(0, 0, 0, 0.57);
    color: var(--text-hover-color);
    background-color: var(--text-color-reverse);
}
.tr-det strong:hover {
    color: var(--text-hover-color-reverse);
    background-color: var(--text-color);
}
.close-tr-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.tr-modal h2 {
    margin-bottom: 10px;
}

.tr-modal ul {
    list-style-type: none;
    padding: 0;
}

.tr-modal ul li {
    margin-bottom: 10px;
}

.tr-modal ul li strong {
    font-weight: bold;
    margin-right: 5px;
}

.info-container a {
    cursor: pointer;
    text-decoration: underline;
    color: #007bff;
}

.info-container a:hover {
    color: #0056b3;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* CSS untuk modal */
.modal {
    display: none;
    position: fixed;
    background-image: url("../images/3.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 770px 840px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-color-reverse);
    color: var(--text-color);
    padding: 20px;
    border-radius: 20px;
    z-index: 2;
    max-width: 500px;
    z-index: 9999;
}

.modal button {
    font-size: 17px;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding: 8px;
    border-radius: 6px;
    color: var(--panel-color);
    background-color: var(--panel-color-reverse);
    border: 1px transparent solid;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.modal button:hover {
    background-color: var(--text-hover-color);
    border: 1px var(--text-hover-color) solid;
    color: var(--text-hover-color-reverse);
}

#addModal input:focus {
    border: 1px solid #201f2b;
    box-shadow: 10px 9px 18px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 9px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 9px 18px 0px rgba(0, 0, 0, 0.75);
}

textarea,
input {
    border-radius: 6px;
    border: 1px solid #201f2b;
    box-shadow: none;
    background-color: #f2f2f2;
    color: #201f2b;
    text-align: start;
    margin-bottom: 12px;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
}
#addModal label {
    font-weight: 500;
}

.status {
    padding: 0.3rem 1rem;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 1;
    font-size: 0.7rem;
}

.onprogress {
    background-color: #fff2d7;
    color: #ffa705;
}

.confirmed {
    background-color: #d7effc;
    color: #15a1fe;
}

.fulfilled {
    background-color: #dcedde;
    color: #37aa38;
}

.customer-wrapper {
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.4fr;
    grid-auto-flow: column;
    margin: 10px 0;
    min-width: 230px;
    align-items: flex-start;
    gap: 5px;
}

.customer-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.customer-name > p,
.customer-date {
    font-size: 0.9rem;
}

.customer-date {
    text-align: right;
    color: #9092a9;
}

/* make a responsive */

@media screen and (max-width: 1070px) {
    .dashboard-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "total1 total2"
            "total3 total4"
            "detail detail"
            "customer customer";
    }
}

@media screen and (max-width: 630px) {
    .profile-name {
        display: none;
    }

    .sidebar {
        display: none;
    }
    .card {
        /* background-color: #fff; */
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 12px;
    }

    .info {
        display: grid;
        grid-auto-flow: column;
        justify-items: space-between;
        align-items: center;
    }

    .info-detail h2 {
        font-size: 24px;
    }

    .info-image {
        font-size: 50px;
    }

    main {
        padding: 10px;
    }

    .dashboard-container {
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "total1"
            "total2"
            "total3"
            "total4"
            "detail"
            "customer";
    }
    .detail table {
        font-size: 0.9rem;
    }
}
.empty {
    text-align: center;
}
.empty i {
    color: var(--text-hover-color);
}
.top > nav {
    background-color: var(--text-color);
    padding: 5px;
    margin: 0;
    width: 100%;
    z-index: 9;
    box-shadow: 0px 8px 5px -6px rgba(0, 0, 0, 0.79) inset;
    -webkit-box-shadow: 0px 8px 5px -6px rgba(0, 0, 0, 0.79) inset;
    -moz-box-shadow: 0px 8px 5px -6px rgba(0, 0, 0, 0.79) inset;
}

ol.breadcrumb {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    margin: 0px;
    font-weight: bolder;
    font-size: 16px;
    color: var(--text-color-reverse);
}

.breadcrumb li::after {
    content: "\00a0\00a0\00a0\00a0\00a0\203A\00a0\00a0\00a0\00a0\00a0";
    font-family: "FontAwesome", sans-serif;
    font-size: 14px;
    color: #777;
    margin-left: -10px;
    margin-right: -10px;
}

.breadcrumb li:last-child::after {
    font-family: "FontAwesome", sans-serif;
    color: #777;
    content: "\00a0\00a0\00a0\00a0\00a0\f07c";
}

.breadcrumb li a {
    color: var(--text-hover-color-reverse);
    font-size: 14px;
    text-decoration: none;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
