:root {
    --primary-color: #3a3b3c;
    --panel-color: #06142e;
    --panel-color-reverse: #e1dcd1;
    --text-color: #f2f2f2;
    --text-color-reverse: #1e2126;
    --text-hover-color: #ffa500;
    --text-hover-color-reverse: #3409e0;
    --black-light-color: #ccc;
    --border-color: #4d4c4c;
    --toggle-color: #fff;
    --box1-color: #3a3b3c;
    --box2-color: #3a3b3c;
    --box3-color: #3a3b3c;
    --title-icon-color: #ccc;
}
body.dark-mode {
    --primary-color: #0e4bf1;
    --panel-color: #e1dcd1;
    --panel-color-reverse: #06142e;
    --text-color: #1e2126;
    --text-color-reverse: #f2f2f2;
    --text-hover-color: #3409e0;
    --text-hover-color-reverse: #ffa500;
    --black-light-color: #2e2d2d;
    --border-color: #e6e5e5;
    --toggle-color: #2e2d2d;
    --box1-color: #4da3ff;
    --box2-color: #ffe6ac;
    --box3-color: #e7d1fc;
    --title-icon-color: #fff;

    --tran-05: all 0.5s ease-in-out;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

/* CSS untuk modal */
.modal {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.749);
    z-index: 9995;
}
.modal-content {
    position: fixed;
    background: rgb(6, 20, 46);
    background: linear-gradient(
        45deg,
        var(--panel-color) 52%,
        var(--text-hover-color) 68%,
        var(--panel-color-reverse) 91%
    );
    background-size: 770px 840px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: var(--panel-color); */
    color: var(--text-color);
    padding: 30px;
    border-radius: 20px;
    z-index: 99999;
    max-width: fit-content;
    width: 100%;
    height: auto;
    z-index: 9999;
    box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.63);
}
.modal button {
    font-size: 17px;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding: 8px;
    border-radius: 6px;
    color: var(--panel-color);
    background-color: var(--panel-color-reverse);
    border: 1px transparent solid;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.modal button:hover {
    background-color: var(--text-hover-color);
    border: 1px var(--text-hover-color) solid;
    color: var(--text-hover-color-reverse);
}
#anggota-grup {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    height: 100%;
    margin-bottom: 1em;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
#anggota-grup::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

#anggota-grup::-webkit-scrollbar-track {
    height: 10px;
    background: var(--none-color);
    border-radius: 12px;
}

#anggota-grup::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 12px;
    background-color: var(--text-color);
    transition: all 0.3s ease-in;
}
#anggota-grup::-webkit-scrollbar-thumb:hover {
    width: 7px;
    background-color: red;
}
.CC {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    padding-top: 10px;
    gap: 8px;
}
/* *{
    border: 2px solid white;
} */
textarea,
input {
    border-radius: 6px;
    border: 1px solid #201f2b;
    box-shadow: none;
    background-color: #f2f2f2;
    color: #201f2b;
    text-align: start;
    margin-bottom: 12px;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
}
span.select2-dropdown {
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 16px #1126;
    z-index: 999999;
}
span#nama-lomba-modal {
    font-weight: 800;
    letter-spacing: -3px;
    font-size: 2.8rem;
    /* color: var(--text-hover-color-reverse); */
}
#anggota-grup label {
    font-weight: 600;
    margin-top: 12px;
}

li.select2-results__option.select2-results__option--selectable.select2-results__option--highlighted[aria-selected="true"] {
    background-color: #06142e;
    border: none;
    margin-inline: 12px;
    font-size: 16;
    font-weight: 500;
    border-radius: 8px;
}

[aria-selected="false"],
[aria-selected="false"]:not([aria-selected]) {
    padding: 12px;
    /* border-bottom: solid 1px rgba(255, 255, 255, 0.7); */
}

li {
    color: black;
}
