.notif-manager {
    position: fixed;
    font-size: 14px;
    top: 6rem;
    right: 28px;
    z-index: 9999;
    align-items: end;
    display: flex;
    flex-direction: column;
    transition: display 1s ease-out;
}

.hide-icon {
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    padding-left: 3px;
}

.close-icon {
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    position: absolute;
    top: 5px;
    right: 8px;
}

.notification {
    /* position: relative; */
    display: none;
    background: rgb(6, 20, 46);
    background: linear-gradient(
        -120deg,
        rgba(6, 20, 46, 1) 27%,
        rgba(16, 51, 114, 1) 50%,
        rgba(175, 173, 168, 1) 89%,
        rgba(225, 220, 209, 1) 100%
    );
    box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.63);
    color: #f2f2f2;
    align-items: end;
    float: right;
    flex: 1;
    max-width: max-content;
    padding: 10px;
    margin-bottom: 15px;
    z-index: 999;
    border-radius: 8px;
    animation: show 2s ease-in-out forwards;
    transform: translateX(0);
    opacity: 1;
}
.notify-container {
    position: relative;
    display: none;
    max-width: 250px;
    max-height: max-content;
    background: rgb(6, 20, 46);
    background: linear-gradient(
        45deg,
        rgba(6, 20, 46, 1) 27%,
        rgba(16, 51, 114, 1) 50%,
        rgba(175, 173, 168, 1) 89%,
        rgba(225, 220, 209, 1) 100%
    );
    box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.63);
    color: #f2f2f2;
    padding: 10px;
    z-index: 9999;
    border-radius: 8px;
    animation: show 2s ease-in-out forwards;
    transform: translateX(0);
    opacity: 1;
}
/* .hashtags {
    display: grid;
    gap: 8px;
    align-items: center;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
} */
.hashtags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 100%;
}

p {
    margin-block: 12px;
    text-align: start;
    text-indent: 18px;
}
.hashtag {
    flex: 0 0 calc(50% - 8px);
    display: inline;
    cursor: pointer;
    white-space: nowrap;
    max-width: max-content;
    background-color: #ffd700;
    color: #1e2126;
    text-align: center;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 10px;
}
.hashtag:hover {
    color: #f2f2f2;
    background-color: #4e4e4ed2;
}
@keyframes show {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes dissolve {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(50px);
        opacity: 0;
    }
}
