:root {
    --domi-color: #06142e;
    --domi-color-rev: #e1dcd1;
    --text-color: #f2f2f2;
    --text-color-rev: #1e2126;
    --text-hov: #ffa500;
    --text-hov-rev: #3409e0;
    --split-color: #f1916d;
    --marquee-color: #bd83b8;
    --marquee-text-color: #c3ff00;
    --extra-color: #1e2126;
    --back-drop: #fbffff48;
    --none-color: #00000000;
    /* --extra-color: #b51a2b; */
}

body.dark-mode {
    --domi-color: #e1dcd1;
    --domi-color-rev: #06142e;
    --text-color: #1e2126;
    --text-color-rev: #f2f2f2;
    --text-hov: #3409e0;
    --text-hov-rev: #ffa500;
    --split-color: #bd83b8;
    --marquee-color: #1e2126;
    --marquee-text-color: #bd83b8;
    --extra-color: #f39f5a;
    --back-drop: #1718184e;
    --none-color: #00000000;
}

body.dark-mode .navbar {
    background-color: rgba(203, 227, 221, 0);
    backdrop-filter: blur(16px) saturate(120%) contrast(105%);
    -webkit-backdrop-filter: blur(16px) saturate(120%) contrast(105%);
}

.toggle-btn {
    cursor: pointer;
}

.dark-mode-switch {
    display: flex;
    align-items: center;
    z-index: 100;
    position: relative;
}

.dark-mode-switch input[type="checkbox"] {
    display: none;
}
.dark-mode-switch label {
    display: flex;
    align-items: center;
    padding: 21.8px;
    text-align: center;
    justify-content: center;
    background-color: #ffa500;
    position: relative;
    cursor: pointer;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.289);
    -webkit-box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.289);
    -moz-box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.289);
    animation: slideStartFade 1s linear forwards;
}

.dark-mode-switch label::before {
    content: "\f186";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.2rem;
    color: #1e2126;
    position: absolute;
    align-items: center;
    width: 100%;
    border-radius: 50%;
    transition: transform 0.5s;
}

.dark-mode-switch input:checked + label::before {
    content: "\f185";
    font-family: "Font Awesome 5 Free";
    color: #f2f2f2;
}

.dark-mode-switch input:checked + label {
    background-color: #9d0ed1;
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.289);
    -webkit-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.289);
    -moz-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.289);
    animation: slideAndFade 1s linear forwards;
}

@keyframes slideAndFade {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    25% {
        transform: translateY(30px);
        opacity: 0;
    }
    50% {
        transform: translateY(-100px);
        opacity: 0;
    }
    75% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideStartFade {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    25% {
        transform: translateY(30px);
        opacity: 0;
    }
    50% {
        transform: translateY(-100px);
        opacity: 0;
    }
    75% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
